In [13]:
import pandas as pd
import numpy as np

1) ¿Cómo dividir una columna de texto en dos columnas separadas?

Entrada

df = pd.DataFrame(["STD, City State",

"33, Kolkata West Bengal",

"44, Chennai Tamil Nadu",

"40, Hyderabad Telengana",

"80, Bangalore Karnataka"], columns=['row'])

In [11]:
df = pd.DataFrame(
    ["STD, City State", "33, Kolkata West Bengal", "44, Chennai Tamil Nadu",
     "40, Hyderabad Telengana","80, Bangalore Karnataka"
    ], columns=['row'])
print("Normal\n", df.head())
df = pd.DataFrame(df.row.str.split(',', 1).tolist(), columns=['Code', 'Name'])
print("\nSeparada\n", df.head())

Normal
                        row
0          STD, City State
1  33, Kolkata West Bengal
2   44, Chennai Tamil Nadu
3  40, Hyderabad Telengana
4  80, Bangalore Karnataka

Separada
   Code                  Name
0  STD            City State
1   33   Kolkata West Bengal
2   44    Chennai Tamil Nadu
3   40   Hyderabad Telengana
4   80   Bangalore Karnataka

2) ¿Cómo obtener la frecuencia de valores repetidos en todo el dataframe?

Entrada

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [23]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
df.head()

df.groupby('a').count()

   b  c  d
a
1  1  1  1
2  1  1  1
4  2  2  2
6  1  1  1

3) ¿Cómo obtener las posiciones donde coinciden los valores de dos columnas?

Entrada

df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),

'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

In [29]:
df = pd.DataFrame(
    {'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
     'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)
    })
print(df, '\n')

df_iguales = df.index[df['fruit1'] == df['fruit2']].tolist() 
print(df_iguales)

   fruit1  fruit2
0  orange  orange
1   apple  banana
2   apple  orange
3   apple  banana
4   apple   apple
5  banana  orange
6  banana   apple
7   apple  orange
8   apple  orange
9   apple   apple

[0, 4, 9]

4) A partir de un diccionario crear un DataFrame

{‘X’:[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}

In [33]:
diccionario = {'X':[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}
print(diccionario)

df = pd.DataFrame(diccionario)
print(df)

{'X': [28, 35, 46, 50, 66], 'Y': [74, 84, 99, 13, 26], 'Z': [36, 47, 56, 62, 73]}
    X   Y   Z
0  28  74  36
1  35  84  47
2  46  99  56
3  50  13  62
4  66  26  73

5) Genere 3 columnas con 5 elementos cada uno. Cree una función para eliminar los N primeras o N últimas filas

In [71]:
def delete_n_rows(df_test, n, first=True):
    if first:
        index = [x for x in range(n)]
    else:
        number_rows = len(df_test.index) - 1
        index = [x for x in range(number_rows, number_rows - n, -1)]
    print('[INDEX TO DELETE]', index)
    df_deleted = df_test.drop(df_test.index[[index]])
    return df_deleted

matriz = np.arange(15).reshape((5, 3))
df = pd.DataFrame(matriz, columns=['One', 'Two', 'Three'])
print(df)

deleted = delete_n_rows(df, 2, first=False)
print(deleted)

   One  Two  Three
0    0    1      2
1    3    4      5
2    6    7      8
3    9   10     11
4   12   13     14
[INDEX TO DELETE] [4, 3]
   One  Two  Three
0    0    1      2
1    3    4      5
2    6    7      8

6) Genere 5 columnas con 5 elementos cada uno. Cree una función para ordenar de forma ascendente o descendente los datos por columna.

In [68]:
def sort_df(df_func, asc=True):
    columns = [name for name in df_func.columns.values]
    df_func = df_func.sort_values(by=columns, ascending=asc)
    return df_func

matriz = np.arange(25).reshape((5, 5))
df = pd.DataFrame(matriz)
print(df)

sorted_df = sort_df(df, False)
print('\n', sorted_df)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

     0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

7) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros.

In [67]:
def get_n_rows(df, n, first=True):
    
    if first:
        index = [x for x in range(n)]
        start, end = 0, n
    else:
        number_rows = len(df.index)
        start, end = number_rows - n, number_rows
    
    return df[start:end]

matriz = np.arange(20).reshape((5, 4))
df = pd.DataFrame(matriz)
print(df)
print()

selected = get_n_rows(df, 2, True)
print(selected)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

   0  1  2  3
0  0  1  2  3
1  4  5  6  7

8) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros.

In [72]:
def get_n_rows(df, n, first=True):
    
    if first:
        index = [x for x in range(n)]
        start, end = 0, n
    else:
        number_rows = len(df.index)
        start, end = number_rows - n, number_rows
    
    return df[start:end]

matriz = np.arange(20).reshape((5, 4))
df = pd.DataFrame(matriz)
print(df)
print()

selected = get_n_rows(df, 2, True)
print(selected)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

   0  1  2  3
0  0  1  2  3
1  4  5  6  7

9) Genere 6 columnas con 5 elementos cada uno. Cree una función para obtener un nuevo DataFrame sin la columna X

In [75]:
def generate_new_df_without_colum(df, column):
    return df.drop(column, 1)

matriz = np.arange(30).reshape((5, 6))
df = pd.DataFrame(matriz)
print(df)
print()

new_df = generate_new_df_without_colum(df, 4)
print(new_df)

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29

    0   1   2   3   5
0   0   1   2   3   5
1   6   7   8   9  11
2  12  13  14  15  17
3  18  19  20  21  23
4  24  25  26  27  29

10) Genere 3 columnas con 5 elementos cada uno. Cree una función para obtener el numero de columnas en un dataframe.

In [78]:
def number_columns_data_frame(df):
    return len(df.columns)

matriz = np.arange(15).reshape((5, 3))
df = pd.DataFrame(matriz)
print(df)
print()

print('[NUMBER OF COLUMNS]:', number_columns_data_frame(df))

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

[NUMBER OF COLUMNS]: 3

In [ ]:
11) Genere 2 columnas con 20 elementos cada uno. La primera columna debe de tener uno de los siguientes valores: C1, C2, C3 y C4. Estos valores se pueden repetir. La segunda columna tiene valores de números cualesquiera. Cree una función para agrupar por la Primera Columna y que se listen los valores agrupados de la segunda Columna.

12) Cree una función para crear un DataFrame a partir de una lista de listas. Suponga que la lista en la posicion 0 siempre son las cabeceras.

my_lists = [['col1', 'col2'], [2, 4], [1, 3]]

In [81]:
def generate_dataframe(list_of_list):
    return pd.DataFrame(list_of_list[1:], columns=list_of_list[0])

my_lists = [['col1', 'col2'], [2, 4], [1, 3]]
print(my_lists)

df = generate_dataframe(my_lists)
print('DF:\n', df)

[['col1', 'col2'], [2, 4], [1, 3]]
DF:
    col1  col2
0     2     4
1     1     3

In [ ]:
13) Escriba una funcion que inserte en un indice especifico una nueva columna de datos en un DataFrame. Cree un DataFrame de ejemplo para probar su funcion.

In [82]:
df = pd.DataFrame({'column': np.random.choice(['C1', 'C2', 'C3', 'C4'], 5)})
def insert_column(df,name,new_col,index):
    df.insert(loc=index, column=name, value=new_col)
    print(df)

insert_column(df,'new_col',np.random.choice(['apple', 'orange', 'banana'], 5),0)

  new_col column
0  orange     C3
1  orange     C3
2   apple     C2
3   apple     C2
4  orange     C2

In [ ]:
14) Escriba una funcion para eliminar los valores de numpy “inf”, “-inf” es decir Infinite Positive e Infinite negative de un dataframe por NaN. Cree un DataFrame de ejemplo para probar su funcion

In [ ]:
15) Cree una funcion para cambiar strings o flotantes a tipo de dato entero de una columna y booleanos a 0 si es falso o 1 si es verdadero (tambien debe de quedar cambiada la columna a tipo entero). Cree un DataFrame de ejemplo para probar su funcion. Aqui un posible ejemplo:

In [83]:
df = pd.DataFrame({'score': np.random.choice(['12.50', '14.50', '12.77', '9.21'], 20),
                   'qualify': np.random.choice([True,False], 20)})
print(df)
print(df.dtypes)

def change_dtypes(df,column_name):
    print(pd.to_numeric(df[column_name], errors='ignore'))

    print(df.dtypes)
    
print(df)
print(df.dtypes)

    score  qualify
0   14.50    False
1   12.50     True
2   14.50     True
3   14.50    False
4   14.50     True
5   12.77    False
6    9.21     True
7   14.50    False
8   12.50     True
9    9.21     True
10  12.77    False
11   9.21     True
12   9.21     True
13  14.50     True
14  12.77    False
15  12.50    False
16  14.50     True
17   9.21    False
18  12.50    False
19  14.50     True
score      object
qualify      bool
dtype: object
    score  qualify
0   14.50    False
1   12.50     True
2   14.50     True
3   14.50    False
4   14.50     True
5   12.77    False
6    9.21     True
7   14.50    False
8   12.50     True
9    9.21     True
10  12.77    False
11   9.21     True
12   9.21     True
13  14.50     True
14  12.77    False
15  12.50    False
16  14.50     True
17   9.21    False
18  12.50    False
19  14.50     True
score      object
qualify      bool
dtype: object

In [ ]:
16) Escriba una funcion para ordenar un dataframe por 2 o mas columnas. Cree un DataFrame de ejemplo para probar su funcion.

In [ ]:
17) Escriba una funcion para buscar en que columnas se repite cierto valor y cuales no. Cree un DataFrame de ejemplo para probar su funcion.

In [ ]:
18) Escriba una funcion para listar los valores minimos o maximos de toda la columna de un subconjunto de columnas. El programa debe de devolver el nombre de la columnas y el arreglo de indices de fila de los valores minimos y maximos. Cree un DataFrame de ejemplo para probar su funcion.

In [ ]:
19) Escriba una funcion que reciba como parametro un arreglo de nombres de columna y devuelva un diccionario de columnas con los valores de esa columna como “lista”. El tipo de dato del valor de cada elemento del diccionario debe ser “lista”.

20) Escriba una funcion que reciba como parametros el numero de filas y que devuelva la selección de un subconjunto de elementos randomicos del DataSet.